{% extends "header.html" %}
    
{% block body %}
    <div class = "title"><img src="{{ url_for('static', filename='images/ttt.png') }}"></div>
    <p>version 1.1</p>
    <form name="form" id="form" onsubmit="return false">
        <div class="board">
            <div class = "row">
                <div class = "col-md-4"><button name="button" id="button0" onclick="tictactoe.changeValue(0)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button1" onclick="tictactoe.changeValue(1)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button2" onclick="tictactoe.changeValue(2)">  </button></div>
            </div>
            <div class = "row">
                <div class = "col-md-4"><button name="button" id="button3" onclick="tictactoe.changeValue(3)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button4" onclick="tictactoe.changeValue(4)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button5" onclick="tictactoe.changeValue(5)">  </button></div>
            </div>
            <div class = "row">
                <div class = "col-md-4"><button name="button" id="button6" onclick="tictactoe.changeValue(6)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button7" onclick="tictactoe.changeValue(7)">  </button></div>
                <div class = "col-md-4"><button name="button" id="button8" onclick="tictactoe.changeValue(8)">  </button></div>
            </div>
            <div class = "row options">
                <div class = "col-sm-6">
                    <button name="button" class = "opt" onclick="tictactoe.new_game()"><strong>New Game</strong></button>
                </div>
                <div class = "col-sm-6">
                    <button name="button" class = "opt"><strong>Quit</strong></button>
                </div>                
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', ../js/tictactoe.js) }}" type="text/javascript"></script>
        
{% endblock %}