<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>Tic Tac Toe</title>
        <meta name ="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="../images/name-icon.ico">
        <script src="../static/jquery.min.js"></script>
        <script src="../static/bootstrap.min.js"></script>
        <style>
            body {
                margin-top: 50px;
                text-align: center;
            }
            
            .title {
                margin-top: 25px;
                padding: 30px;
                color: #250033;
            }
            
            INPUT {
                background-color: #ece6ec;
                border: none;
                width: 150px;
                height: 150px;
                margin: 10px;
            }
        </style>
    </head>
    
    <header>
        <nav class = "navbar navbar-inverse navbar-fixed-top">
            <div class = "container-fluid">
                <div class = "navbar-header">
                    <a class = "navbar-brand" href = "index.html">JP.</a>
                </div>
            </div>
        </nav>   
    </header>
        
    <body>
        <div class = "container">
            <div class = "title"> <h1><strong>Tic Tac Toe</strong></h1></div>
            
            <div class = "test">
                <input type="submit" name="submit" value="Do Something">
                <input type="submit" name="submit" value="Do Something Else">
            </div>
            
            <div class = "game">
                <INPUT type = "button" name = "button0" value = " ">
                <INPUT type = "button" name = "button1" value = " ">
                <INPUT type = "button" name = "button2" value = " "> <br>
                <INPUT type = "button" name = "button3" value = " ">
                <INPUT type = "button" name = "button4" value = " ">
                <INPUT type = "button" name = "button5" value = " "> <br>
                <INPUT type = "button" name = "button6" value = " ">
                <INPUT type = "button" name = "button7" value = " ">
                <INPUT type = "button" name = "button8" value = " "> <br>
            </div>
        
        </div>
    </body>
</html>